body {
  background:brown;
}

.images {
  border: white 2px solid;
  border-radius: 10%;
}
h1 {
  text-align: center;
  color: gold;
  
}

h2 {
  text-align: center;
  color: purple;
  background: white;
  border-radius: 10%;
}

a.add {
  display: flex;
  color:rgb(124, 107, 31);
  text-align: center;
}

.everything {
  display: flex;
  flex-wrap: wrap; 
  flex-flow: row wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}

.flex {
  display: flex;
  flex-flow: wrap; 
  text-align: center;
  color: white;
  border: 2px solid gold;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  background:rgb(17, 75, 37);
}


.albums {
  background: yellow
  border: 2px solid pink;
}