h1 {
  text-align: center;
  color: gold;
  background: darkgrey;
}

a {
  color:red;
  background: darkgrey;
}

.everything {
  display: flex;
  border: 2px solid red;
  align-items: flex-start;
}

.w-33 pa3 {
  color: orange;
}


.loop {
  color: green
  border: 2px solid black;
}