{% extends "base.html" %}

{% block content %}

    <h1><strong>Book Collection</strong></h1>
    <p><button><a class="add" href="{% url 'add_albums' %}">Add New Book</a></button></p>
    <button><a class="add" href="{% url 'list_albums' %}">Music Collection</a></button>

  <div class="everything">
          
          {% for book in books %}
          <div class="flex">
          
          <h2> "{{ books.book_title }}" </h2>
          <img src="{{ books.book_cover }}" height='200' width='250'>
          <h4>By: {{ books.author }}
          <p> Published: {{ books.date_published }}</p>
        
          <p>
          <button class="button2"><a class="ablumsstuff" href="{% url 'albums_detail' pk=album.pk %}">Album Details</a></button>
          <button class="button2"><a class="ablumsstuff"
           href="{% url 'edit_albums' pk=album.pk %}"> Edit Album </a></button>
          <button class="button2"> <a class="ablumsstuff" href="{% url 'delete_albums' pk=album.pk %}">Delete Album</a></button>
          </p></h4>
          
          </div>

          <br>
          {% endfor %}
       

<button class="button2"> <a class="ablumsstuff" href="{% url 'delete_albums' pk=album.pk %}">Delete Album</a></button>



  </div>

{% endblock %}
