{% extends 'base.html' %} 
{% block content %}

<button><a class="add" href="{% url 'list_albums' %}">return to All Albums</a></button>

      <div class="detail_page"> "{{ album.title }}" </div>
      <img class="image" src="{{ album.image_url }}" >
      <div class="artist_date">By: {{ album.artist }}
        {% if album.released %}
         <div>{{ album.released }}</div>
        {% endif %}</div>
        
        
       
       <div class="track_details">
          <b>Track List:</b>
            {% if note in album.track_list %}
            {{album.track_list}}
            {% endif %}
           
      {{ album.track_list }} 

      
    </div>
    <button><a class="add" href="{% url 'list_albums' %}">return to All Albums</a></button>



{% endblock %}