{% extends 'base.html' %} {% block content %}

<div class="w-33 pa3">
	<h2>{{ album.title }}</h2>
{% for album in albums %}
      <div>
        {{ album.artist }}<br />
        
      </div>
    

    {% if album.released %}
    
      <div>{{ album.released }}</div>
    
    {% endif %}


    {% if album.details %}
    <h3>details</h3>
    <div class="flex">
      <div class="pr2 list">
        {% if note in album.details.all %}
        <li>{{note}}</li>
        {% endif %}
    {% endif %}    

 {% endfor %}
      </div>
    </div>


    

    


  </div>

{% endblock %}