{% extends "base.html" %}

{% block content %}

    <h1><strong>Music Collection</strong></h1>
    <p><a class="add" href="{% url 'add_albums' %}">Add New Album</a></p>

  <div class="everything">
          
          {% for album in albums %}
          <div class="flex">
          
          <h2> "{{ album.title }}" </h2>
          <img src="{{ album.image_url }}" height='200' width='250'>
          <p><h4>by: {{ album.artist }}</p>
          <p> Released: {{ album.released }}</h4></p>
        
<br>
          <p>
          <!-- <a href="{% url 'albums_detail' pk=album.pk %}">Album Details |  </a>
          <br> -->
          <a href="{% url 'edit_albums' pk=album.pk %}"> Edit Album </a>
          <br>
          <a href="{% url 'delete_albums' pk=album.pk %}">Delete Album</a>
          </p>
          
          </div>

          <br>
          {% endfor %}
       
  </div>

{% endblock %}
