{% extends "base.html" %}

{% block content %}

    <h1><strong>Music Collection</strong></h1>
    <p><button><a class="add" href="{% url 'add_albums' %}">Add New Album</a></button>
    <button><a class="add" href="{% url 'book_index' %}">Book Collection</a></button></p>


  <div class="everything">
          
          {% for album in albums %}
          <div class="flex">
          
          <h2> "{{ album.title }}" </h2>
          <img src="{{ album.image_url }}" height='200' width='250'>
          <h4>By: {{ album.artist }}
          <p> Released: {{ album.released }}</p>
        
          <p>
          <button class="button2"><a class="ablumsstuff" href="{% url 'albums_detail' pk=album.pk %}">Album Details</a></button>
          <button class="button2"><a class="ablumsstuff"
           href="{% url 'edit_albums' pk=album.pk %}"> Edit Album </a></button>
          <button class="button2"> <a class="ablumsstuff" href="{% url 'delete_albums' pk=album.pk %}">Delete Album</a></button>
          </p></h4>
          
          </div>

          <br>
          {% endfor %}
       
  </div>

{% endblock %}
